:root {
    --oszlop-tarsasjatek-nev: 1;
    --oszlop-tarsasjatek-ID:  2;
    --oszlop-tarsasjatek-alapjatek: 3;
    --oszlop-tarsasjatek-alapjatekNev: 4;
    --oszlop-tarsasjatek-alapjatekID: 5;
    --oszlop-tarsasjatek-jatekNyelv: 6;
    --oszlop-tarsasjatek-nyelvfuggetlen: 7;
    --oszlop-tarsasjatek-magyarJatekszabaly: 8;
    --oszlop-tarsasjatek-minJatekos: 9;
    --oszlop-tarsasjatek-maxJatekos: 10;
    --oszlop-tarsasjatek-kiadasEv: 11;
    --oszlop-tarsasjatek-kiado: 12;
    --oszlop-tarsasjatek-megjegyzes: 13;
    --oszlop-tarsasjatek-szerzo: 14;
}

table {
    font-weight: 300;
}


/* ID mezők rejtése */
table tr th:nth-child(var(--oszlop-tarsasjatek-alapjatekID)),
table tr td:nth-child(var(--oszlop-tarsasjatek-alapjatekID)),
table tr th:nth-child(var(--oszlop-tarsasjatek-ID)),
table tr td:nth-child(var(--oszlop-tarsasjatek-ID)){
    display: none;
}

table tr td:nth-child(5),
table tr td:nth-child(6),
table tr td:nth-child(7),
table tr td:nth-child(8),
table tr td:nth-child(9){
    text-align: center;
}

/* Kiadás éve, Kiadó, megjegyzés, Szerző mezők rejtése */
table tr th:nth-child(10),
table tr td:nth-child(10),
table tr th:nth-child(11),
table tr td:nth-child(11),
table tr th:nth-child(12),
table tr td:nth-child(12),
table tr th:nth-child(13),
table tr td:nth-child(13){
    display: none;
}

/* Fejléc sötét háttér */
table tr:nth-child(1){
    background-color: rgba(0,0,0,.4);
}

/* Táblázat minden második sorának színezése */
table tr:nth-child(even){
    background-color: rgba(0,0,0,.2);
}

table tr:not(:first-child):hover td {
    background-color: rgba(255,0,0,.8);
    color: white;
}