/********************************************************************************
A táblázat oszlopai 2026.01.04-én

01 - Társasjáték név,                           tarsasjatekNev,     szöveg
02 - Társasjáték ID,                            tarsasjatekID,      szám
03 - Alapjáték?,                                alapjatek,          igen/nem       
04 - Az alapjáték neve, ha kiegészítő lenne,    alapjatekNev,       szöveg
05 - Alapjáték ID,                              alapjatekID,        szám
06 - A játék nyelve,                            jatekNyelv,         szöveg
07 - A játék nyelvfüggetlen?,                   nyelvfuggetlen,     igen/nem
08 - Van hozzó magyar szabály?,                 magyarJatekszabaly, igen/nem
09 - Minimális játékosszám,                     minJatekos,         szám
10 - Maximális játékosszám,                     maxJatekos,         szám
11 - Kiadás éve,                                kiadasEv,           szám
12 - Kiadó,                                     kiado,              szöveg
13 - Megjegyzes,                                megjegyzes,         szöveg
14 - Szerző,                                    szerzo,             szöveg

********************************************************************************/


table {
    font-weight: 300;
}

table tr td:nth-child(2),
table tr td:nth-child(3),
table tr td:nth-child(5),
table tr td:nth-child(6),
table tr td:nth-child(7),
table tr td:nth-child(8),
table tr td:nth-child(9),
table tr td:nth-child(10){
    text-align: center;
}

.tarsasListaTablazat tr th:nth-child(2),
.tarsasListaTablazat tr th:nth-child(5),
.tarsasListaTablazat tr th:nth-child(11),
.tarsasListaTablazat tr th:nth-child(12),
.tarsasListaTablazat tr th:nth-child(13),
.tarsasListaTablazat tr th:nth-child(14),
.tarsasListaTablazat tr td:nth-child(2),
.tarsasListaTablazat tr td:nth-child(5),
.tarsasListaTablazat tr td:nth-child(11),
.tarsasListaTablazat tr td:nth-child(12),
.tarsasListaTablazat tr td:nth-child(13),
.tarsasListaTablazat tr td:nth-child(14){
    display: none;
}

/* Fejléc sötét háttér */
.tarsasListaTablazat tr:nth-child(1) {
    background-color: rgba(0,0,0,.4);
}

/* Táblázat minden második sorának színezése */
.tarsasListaTablazat tr:nth-child(even) {
    background-color: rgba(0,0,0,.2);
}

.tarsasListaTablazat tr:not(:first-child):hover td {
    background-color: rgba(255,0,0,.8);
    color: white;
}