:root {
    --fejlec-szama: 1;
}

table {
    font-weight: 300;
}


/* ID mezők rejtése */
table tr th:nth-child(2),
table tr td:nth-child(2),
table tr th:nth-child(4),
table tr td:nth-child(4){
    display: none;
}

table tr td:nth-child(5),
table tr td:nth-child(6),
table tr td:nth-child(7),
table tr td:nth-child(8),
table tr td:nth-child(9){
    text-align: center;
}

/* Kiadás éve, Kiadó, megjegyzés, Szerző mezők rejtése */
table tr th:nth-child(10),
table tr td:nth-child(10),
table tr th:nth-child(11),
table tr td:nth-child(11),
table tr th:nth-child(12),
table tr td:nth-child(12),
table tr th:nth-child(13),
table tr td:nth-child(13){
    display: none;
}

/* Fejléc sötét háttér */
table tr:nth-child(var(--fejlec-szama)){
    background-color: rgba(0,0,0,.4);
}

/* Táblázat minden második sorának színezése */
table tr:nth-child(even){
    background-color: rgba(0,0,0,.2);
}

table tr:not(:first-child):hover td {
    background-color: rgba(255,0,0,.8);
    color: white;
}